@import './../../../variables.scss';

.board-item{
    font-weight:500;
    padding: 10px;
    border-radius: 0px 20px 20px 0px;
    margin-top: 10px;
    margin-left: -30px;
    padding-left: 30px;
    cursor:pointer;
}

.item-active{
    background: $primary-color-purple;
    box-shadow: $default-box-shadow;
}

.fa-table-list{
    margin-right: 10px;
}

.create-new-board{
    color: $primary-color-purple;
}