$primary-dark-blue: #21212d;
$primary-header-color: #2c2c38;
$primary-color-purple: #645fc7;

$status-todo-color: #4ac6ef;
$status-doing-color: #846ffb;
$status-done-color: #65e8b1;

$primary-border-color: #797979;

$primary-font-color: #e9ebec;
$secondary-font-color: #5a5f71;

$default-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

$small: 768px;
$medium: 1024px;